*{
    font-family:  "Lucida Handwriting", cursive;
    font-size: 40px;
    background-color:#6667AB;
    color: #EFC050;
}



.sites_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 300px;
    
}

.link-for-site {
    display: inline-block;
}



.h1_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
   
    
}


.listofbest{
    display:flex;
    justify-content: center;
    align-items: center;

}


.list-items{
    font-family: Comic Sans MS, Comic Sans, cursive;
}




.listformanga{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
   
    
}
.h1{
    padding-top:20px;
}
